@CHARSET "UTF-8";
*{
    margin:0;
    padding:0;
    outline:none;
}
body{
    background:#c7b39b url(images/Auth.jpg);
    font-family:"PT sans" sans-serif;
    background-size: cover;
}
.wrapper{
    margin:100px auto;
    width:450px;
    background:#5f81a3;
    padding:30px;
}
h1{	
    color:#555;
    text-align:center;
    font-size:35px;
}
.input-login{
    width:460px;
    height:50px;
    border:none;
    padding:0 20px;
    margin:10px 0;
    color:#555;
    font-size:17px;
    background-color:#f9f9f9;
}
.input-login:focus{
    background:#fff;
}
.input-login:hover::after { 
 content: attr(data-title); 
}
.submit{
    margin-top:10px;
    padding:10px 30px;
    border:none;
    color:#fff;
    background:#5f81a3;
    cursor:pointer;
    font-size:17px;
    width:150px;
}
.submit:hover{
    background:#789abc;
}



.dir{
	font-size:20px;
	margin-right:20px;
}
.menu{
	width:200px;
	margin:40px auto;
}
.user img{
	margin:10px 10px;
	width:30px;
	height:30px;
}
.user{
	color:#fff;
}

.flag{
	width:20px;
	height:20px;
}

.date{
	margin-top:20px;
	margin-left: 150px;
}
#flag{
	margin-left:100px;
}
#menu{
	/* position:fixed; */
	width:50px;
	height:50px;
    border:none;
    background:#5f81a3;
    cursor:pointer;
    
}
#menu img{
	width:50px;
	height:50px;
}
#menu:hover{
	background:#789abc;
}
.type{
	border:none;
	height:30px;
	width:150px;
}
#st_dep{
	width:49%;
	float:left;
}
#st_arr{
	width:49%;
	float:right;
}
#old_st_arr{
	float:right;
}
#step{
	width:50px;
}

li{
	font-size:20px;
}
.actions{
	margin-top:40px;
}
#top-menu{
	/* position:fixed; */
}
#t{
	margin:40px auto;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  border: 0;
  text-shadow: 0 1px 0 #fff;
  color: #2a2a2a;
 background:#5f81a3;
  background-image: -moz-linear-gradient(top, #fff, #eaeaea, #fff); /* Firefox 3.6 */
  background-image: -webkit-gradient(linear,center bottom,center top,from(#fff),color-stop(0.5, #eaeaea),to(#fff));
  margin-top:20px;
  
}
td{
	height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
#t thead td
{
  font-size: 120%; 
  font-weight: bold;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #eaeaea;
}
#route_name{
	margin-top:0;

	width:250px;
	height:30px;
	align:center;
	padding:20px 30px 20px 30px;
	margin:auto;
	margin-bottom:20px;
}
#route{
	height:40px;
	font-size:20px;
}