@CHARSET "UTF-8";
*{
    margin:0;
    padding:0;
    outline:none;
}
body{
    background:#c7b39b url(images/Auth.jpg);
    font-family:"PT sans" sans-serif;
    background-size: cover;
}
.wrapper{
    margin:100px auto;
    width:450px;
    background:#5f81a3;
    padding:30px;
}
h2{	
	
    color:#555;
    text-align:center;
    font-size:35px;
}
.input-login{
    width:460px;
    height:50px;
    border:none;
    padding:0 20px;
    margin:10px 0;
    color:#555;
    font-size:17px;
    background-color:#f9f9f9;
}
.input-login:focus{
    background:#fff;
}
.input-login:hover::after { 
 content: attr(data-title); 
}
.submit{
    margin-top:10px;
    padding:10px 30px;
    border:none;
    color:#fff;
    background:#5f81a3;
    cursor:pointer;
    font-size:17px;
    width:150px;
}
.submit:hover{
    background:#789abc;
}

select{
	margin-left:10px;
	width:150px;
	height:30px;
	font-size:20px;
	border:none;
	background:#fff;
}
select:hover{
	background:#ffffff;
}
.selector{
	
}
.dir{
	font-size:20px;
	margin-right:20px;
}
.menu{
	width:200px;
	margin:40px auto;
}
.user img{
	margin:10px 10px;
	width:30px;
	height:30px;
}
.user{
	color:#fff;
}

.flag{
	width:20px;
	height:20px;
}
select{
	border:none;
	margin-left:10px;
}
.date{
	margin-top:10px;
}
#flag{
	
}
#menu{

	width:50px;
	height:50px;
    border:none;
    background:#5f81a3;
    cursor:pointer;
    
}
#menu img{
	width:50px;
	height:50px;
}
#menu:hover{
	background:#789abc;
}
#top-menu{
	/* position:fixed; */
}
.noway{
	color:red;
}