@CHARSET "UTF-8";
*{
    margin:0;
    padding:0;
    outline:none;
}
body{
    background:#c7b39b url(images/Auth.jpg);
    font-family:"PT sans" sans-serif;
    background-size: cover;
}
.wrapper{
    margin:100px auto;
    width:500px;
   background:#5f81a3;
    padding:30px;
}
h1{
	
    color:#555;
    text-align:center;
    font-size:35px;
}
.name{
	font-family:"PT sans" sans-serif;
    width:460px;
    height:50px;
    border:none;
    padding:0 20px;
    margin:10px 0;
    color:#555;
    font-size:17px;
    background-color:#f9f9f9;
}
.name:focus{
    background:#fff;
}
.name:hover::after { 
 content: attr(data-title); 
}
.date{
	width:80px;
	height:20px;
	float:left;
	margin-right:10px;
}
.submit{
    margin-top:10px;
    padding:10px 30px;
    border:none;
    color:#fff;
    background:#5f81a3;
    cursor:pointer;
    font-size:17px;
    width:150px;
}
.submit:hover{
    background:#789abc;
}

.status{
	color:#b73854;
}
select{
	border:none;
	width:70px;
}
#birthday{
	color:#fff;
}
.menu{
	 margin:40px auto;
    width:500px;
    padding:10px;
}
.menu-item{
	margin:auto;
	width:300px;
}
.menu-item input{
	font-family:"PT sans" sans-serif;
	font-size:20px;
	border:none;
	width:250px;
	height:40px;
	cursor:pointer;
	background:#5f81a3;
	color:#fff;
	margin:3px;
}
.menu-item input:hover{
	 background:#789abc;
	color:#fff;
}
.user img{
	margin:10px 10px;
	width:30px;
	height:30px;
}
.user{
	color:#fff;
}
#samePassenger{
	color:#cd8498;
}
#menu{
	/* position:fixed; */
	width:50px;
	height:50px;
    border:none;
    background:#5f81a3;
    cursor:pointer;
    
}
#menu img{
	width:50px;
	height:50px;
}
#menu:hover{
	background:#789abc;
}